{
  "compact": false,
  "presets": [
    [
      "@babel/preset-env",
      {
        "forceAllTransforms": true,
        "targets": {
          "node": true,
        },
      },
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "add-module-exports"
  ]
}
